.BackGround{
    min-height: 1920px;
    min-width: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #004a91;
}
.Box{
    margin: auto;
    padding: 20px;
    height: margin;
    width: margin;
    background-color: #F7F9F9;
    border-radius: 25px;
}
.Userbox{
    position: fixed;
    top: 20%;
    left: 50%;
    margin-top: -50px;
    margin-left: -150px;
    background-color:burlywood;
    box-shadow: 0 0.3em 1em #000;
    display: block;
    border-radius: 20px;
    padding: 10px;
    min-width: 300px;
}


.label{
    font-family:Arial;
    font-size: 20px;
    font-weight: 400;
}

.loginButton{
    color: #F7F7F7;
    border-radius: 3px;
    border: 0px;
    background-color:#8e9647;
    padding: 10px 10px;
    min-width: 150px;
    font-size: 15px;
}

.loginButton:hover{
    background-color: #55532f;
}
.log:active:active{
    background-color: #17324c;
}
.registerButton{
    color: #F7F7F7;
    border-radius: 3px;
    border: 0px;
    background-color:#8e9647;
    padding: 10px 10px;
    min-width: 150px;
    font-size: 15px;
}

.registerButton:hover{
    background-color: #55532f;
}
.padding{
    padding: 20px;
}

.username{
    left:10px;
    font-size:16px;
    font-weight: 600;
    height: 30px;
    min-width: 150px;
    border: 0.75px solid #d6d6d6;
    text-indent: 15px;
}
.password{
    left:10px;
    font-size:16px;
    font-weight: 600;
    height: 30px;
    min-width: 150px;
    border: 0.75px solid #d6d6d6;
    text-indent: 15px;
}
.email{
    left:10px;
    font-size:16px; 
    font-weight: 600;
    height: 30px;
    min-width: 150px;
    border: 0.75px solid #d6d6d6;
    text-indent: 15px;
}
.title{
    font-family:Arial;
    font-size: 25px;
    font-weight: 400;
}
.lineup{
    width: 100%;
    margin-top: -10px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.63);
    position: relative;
}
.linebottom{
    width: 100%;

    margin-top: auto;
    padding-top: 10px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.63);
    position: relative;
}
.SearchBox{ 
    color: orange;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.SearchBox input[type=text]{ 
    text-indent:45px;
}
.textBoxIcon{
    position: absolute;
    left:10px;
    color:black;
    width:50px;
    height:50px;
}
.element {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

